<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyToDo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ToDoChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ToDoChatImplementation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA55D8691FE21EDC00FC3805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA55D87D1FE21EDD00FC3805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA55D8881FE21EDD00FC3805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADBE6F31FE42C9600262157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADBE70B1FE42D3500262157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FADBE7131FE42D3500262157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
